body {
  font-family: Arial, sans-serif;
  padding: 50px;
  background-image: linear-gradient(to right, blue, green);
  color: white;
}

.App {
  text-align: center;
}

h1,
h2 {
  color: white;
  font-size: 3rem;
}

.button,
.link-button {
  background-color: #ffffff;
  color: #4caf50;
  border: 2px solid #4caf50;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 20px 10px;
  cursor: pointer;
  border-radius: 12px;
}

.button:hover,
.link-button:hover {
  background-color: #ffffff;
}

.input-number {
  width: 100px;
  padding: 10px;
  margin: 20px auto;
  display: block;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 18px;
}
@media (max-width: 768px) {
  body {
    padding: 20px;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
  }

  .button,
  .link-button {
    font-size: 12px;
    padding: 8px 16px;
  }

  .input-number {
    width: 80px;
    font-size: 16px;
  }
}
.not-found-container {
  text-align: center;
  padding: 50px;
}

h2 {
  font-size: 2rem;
  color: white;
}

p {
  font-size: 1rem;
  color: greenyellow;
}

.home-link {
  color: #1d72b8;
  text-decoration: none;
  font-size: 1.2rem;
}

@media (max-width: 768px) {
  body {
    padding: 20px;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  button,
  .input-number {
    font-size: 14px;
    padding: 5px 10px;
  }
}
